/.UpctformaevaluaIdeModule.java._trace
/.UpctformaevaluaIdeModule.xtendbin
/.UpctformaevaluaIdeSetup.java._trace
/.UpctformaevaluaIdeSetup.xtendbin
/UpctformaevaluaIdeModule.java
/UpctformaevaluaIdeSetup.java
