/.AnimationInOut.java._trace
/.AnimationInOut.xtendbin
/.Main.java._trace
/.Main.xtendbin
/.TextualDragAndDrop.java._trace
/.TextualDragAndDrop.xtendbin
/.UpctformaGenerator.java._trace
/.UpctformaGenerator.xtendbin
/AnimationInOut.java
/Main.java
/TextualDragAndDrop.java
/UpctformaGenerator.java
