/.UpctformaevaluaRuntimeModule.java._trace
/.UpctformaevaluaRuntimeModule.xtendbin
/.UpctformaevaluaStandaloneSetup.java._trace
/.UpctformaevaluaStandaloneSetup.xtendbin
/UpctformaevaluaRuntimeModule.java
/UpctformaevaluaStandaloneSetup.java
